.button {
  background-color: var(--btn-background);
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
  color: var(--std-text);
  font-size: 16px;
  cursor: pointer;
  margin-left: 0.5em;
  font-family: var(--std-font);
}
.button:hover {
  width: 95px;
  height: 38px;
  font-size: 15px;
  margin-right: 2px;
}
