.button {
  background-color: black;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  width: 95px;
  height: 38px;
  font-size: 19px;
  margin-right: 2px;
}
