.button {
  background-color: var(--btn-background);
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
  color: var(--std-text);
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  width: 95px;
  height: 38px;
  font-size: 19px;
  margin-right: 2px;
}
.change-style {
  background-color: var(--btn-background);
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
  color: var(--std-text);
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  margin-top: 1em;
  margin-left: 1em;
}
