.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: hsl(198deg 100% 43%);
}
.footer-logo {
  display: flex;
  align-items: center;
  text-decoration: underline;
}
