.header-container {
  /* background-color: var(--header-blue); */
  /* border-bottom: 2px solid rgb(201, 195, 195); */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}
.title {
  display: flex;
  align-items: center;
}
.title > h1 {
  text-decoration: underline;
  cursor: pointer;
}
.user-name {
  display: flex;
  align-items: center;
}
