.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  color: var(--std-text);
  font-size: x-large;
}
.bg-img {
  background-image: url("../../public/images/9195170292_bac64c44c8_k.jpeg");
  background-size: cover;
  min-height: 1000px;
  position: initial;
}

@media (max-width: 680px) {
  .welcome {
    flex-direction: column;
    padding-top: 8rem;
  }
  .welcome > h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
