.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  color: whitesmoke;
  font-size: x-large;
}
.bg-img {
  background-image: url("../../public/images/9195170292_bac64c44c8_k.jpeg");
  background-size: cover;
  height: 100vw;
}
