/* .locate {
  position: absolute;
  margin-top: 1em;
  right: 1rem;
  background-color: var(--btn-background);
  color: var(--std-text);
  font-size: 16px;
  z-index: 10;
  width: 100px;
  height: 42px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: "Rubik";
} */
/* .locate:hover {
  border: var(--input-border);
  width: 95px;
  height: 38px;
  font-size: 15.5px;
  margin-top: 1.2em;
} */
