.form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.login > input {
  width: 200px;
  margin-bottom: 1em;
  height: 25px;
  font-size: larger;
  border-radius: 5px;
  border: 1px solid black;
}
.login > label {
  display: inline-block;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: -5px;
  margin-bottom: 3px;
  color: whitesmoke;
}
.error {
  text-align: center;
  color: whitesmoke;
}
.login > button {
  display: inline-block;
  align-self: flex-start;
}
.new-user {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
