.form-container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.login > input {
  width: 225px;
  margin-bottom: 1em;
  height: 30px;
  font-size: larger;
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: 3px 10px;
}
.login > label {
  display: inline-block;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: -25px;
  margin-bottom: 5px;
  color: var(--std-text);
}
.error {
  text-align: center;
  color: var(--std-text);
}
.login > button {
  display: inline-block;
  align-self: flex-start;
  margin-left: -25px;
}
.new-user {
  color: var(--std-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 10px;
}
.reg-link {
  color: var(--header-blue);
  margin-left: 5px;
  cursor: pointer;
}
