.form-container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.login > input {
  width: 225px;
  margin-bottom: 1em;
  height: 30px;
  font-size: larger;
  border-radius: 5px;
  border: 1px solid black;
  padding: 3px;
}
.login > label {
  display: inline-block;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: -15px;
  margin-bottom: 5px;
  color: whitesmoke;
}
.error {
  text-align: center;
  color: whitesmoke;
}
.login > button {
  display: inline-block;
  align-self: flex-start;
  margin-left: -15px;
}
.new-user {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 10px;
}
.reg-link {
  color: hsl(198deg 100% 43%);
  margin-left: 5px;
  cursor: pointer;
}
