.map-container {
}
.inputs {
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: space-around;
}

.inputs > *:focus {
  outline: none;
}
.inputs > h3 {
  margin: 3px 0px;
}
.inputs > button {
  margin-top: 3px;
}
.inputs > button:hover {
  cursor: pointer;
}

.point-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(1000%);
  width: 100%;
  max-width: 205px;
  z-index: 10;
  height: 25px;
  margin-top: 1em;
  font-size: larger;
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 5px;
  cursor: pointer;
}
.point-search:hover {
  box-shadow: 3px 3px #888888;
}
