.inputs {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  font-family: var(--std-font);
}

.inputs > *:focus {
  outline: none;
}
.inputs > h3 {
  margin: 3px 0px;
}
.inputs > button {
  margin-top: 3px;
}
.inputs > button:hover {
  cursor: pointer;
}
.inputs > input {
  width: 90%;
}
.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -12px 0;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.edit-delete > button {
  margin-top: 5px;
  height: 20px;
}
