.inputs {
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: space-around;
}

.inputs > *:focus {
  outline: none;
}
.inputs > h3 {
  margin: 3px 0px;
}
.inputs > button {
  margin-top: 3px;
}
.inputs > button:hover {
  cursor: pointer;
}

.point-search {
  position: absolute;
  width: 100%;
  max-width: 205px;
  z-index: 10;
  height: 25px;
  margin-top: 335px;
  margin-left: 10px;
  font-size: larger;
  border-radius: var(--border-radius);
  border: 0.5px solid black;
  padding: 5px;
  cursor: pointer;
}
.point-search:hover {
  box-shadow: var(--box-shadow);
}
