.reg-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--std-text);
}
.reg-form > h1 {
  font-size: xxx-large;
  text-decoration: underline;
}
.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.reg-form > input {
  width: 225px;
  margin-bottom: 1em;
  height: 30px;
  font-size: larger;
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: 3px 10px;
}
.reg-form > label {
  display: inline-block;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: -25px;
  margin-bottom: 5px;
}
.reg-form > button {
  display: inline-block;
  align-self: flex-start;
  margin-left: -25px;
}

@media (max-height: 680px) {
  .reg-container {
    margin-top: 0;
  }
  .reg-form > h1 {
    font-size: xx-large;
  }
  .reg-form > label {
    font-size: x-large;
  }
}
