.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  margin-top: 1em;
}
.search input {
  border: var(--input-border);
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.search input:hover {
  box-shadow: var(--box-shadow);
}

@media (max-width: 760px) {
  .search {
    width: 75%;
  }
}
